<!-- beautify ignore:start -->

<!-- Column 1 -->
<div class="column">
    <div class="column-header">Show Each Field (Top 100), Sort by Time, No Filter</div>

    <div class="column-body">
        <app-example #vis1 id="vis1" [visTitle]="''"></app-example>

        <app-next-century-angular-search #search1
            id="search1"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="searchOptions1"
            [searchService]="searchService"
            [visInputElement]="vis1"
        >
        </app-next-century-angular-search>
    </div>
</div>

<!-- Column 2 -->
<div class="column">
    <div class="column-header">Show Field Subset (Top 100), Sort by ID, Filter on ID</div>

    <div class="column-body">
        <app-example #vis2 id="vis2" [filterProperty]="'fields.id'" [visTitle]="''"></app-example>

        <app-next-century-angular-search #search2
            id="search2"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="searchOptions2"
            [searchService]="searchService"
            [visInputElement]="vis2"
        >
        </app-next-century-angular-search>

        <app-next-century-angular-filter #filter2
            id="filter2"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="filterOptions2"
            [searchElement]="search2"
            [visInputElement]="vis2"
            [visOutputElement]="vis2.elementRef.nativeElement"
        >
        </app-next-century-angular-filter>
    </div>
</div>

<!-- Column 3 -->
<div class="column">
    <div class="column-header">Aggregate on Count of Network, Filter on Network</div>

    <div class="column-body">
        <app-example #vis3 id="vis3" [filterProperty]="'fields.net'" [visTitle]="''"></app-example>

        <app-next-century-angular-search #search3
            id="search3"
            [aggregations]="searchAggregations3"
            [dataset]="dataset"
            [filterService]="filterService"
            [groups]="searchGroups3"
            [options]="searchOptions3"
            [searchService]="searchService"
            [visInputElement]="vis3"
        >
        </app-next-century-angular-search>

        <app-next-century-angular-filter #filter3
            id="filter3"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="filterOptions3"
            [searchElement]="search3"
            [visInputElement]="vis3"
            [visOutputElement]="vis3.elementRef.nativeElement"
        >
        </app-next-century-angular-filter>
    </div>
</div>

<!-- Column 4 -->
<div class="column">
    <div class="column-header">Aggregate on Count of Day, Filter on Day</div>

    <div class="column-body">
        <app-example #vis4 id="vis4" [filterProperty]="'day'" [visTitle]="''"></app-example>

        <app-next-century-angular-search #search4
            id="search4"
            [aggregations]="searchAggregations4"
            [dataset]="dataset"
            [filterService]="filterService"
            [groups]="searchGroups4"
            [options]="searchOptions4"
            [searchService]="searchService"
            [visInputElement]="vis4"
        >
        </app-next-century-angular-search>

        <app-next-century-angular-filter #filter4
            id="filter4"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="filterOptions4"
            [searchElement]="search4"
            [visInputElement]="vis4"
            [visOutputElement]="vis4.elementRef.nativeElement"
        >
        </app-next-century-angular-filter>
    </div>
</div>

<!-- Column 5 -->
<div class="column">
    <div class="column-header">Aggregate on Count of Network / Lon / Lat (Top 100), Filter on Network and Lon / Lat Point</div>

    <div class="column-body">
        <app-example #vis5 id="vis5" [filterProperty]="'netLonLat'" [visTitle]="''"></app-example>

        <app-next-century-angular-search #search5
            id="search5"
            [aggregations]="searchAggregations5"
            [dataset]="dataset"
            [filterService]="filterService"
            [groups]="searchGroups5"
            [options]="searchOptions5"
            [searchService]="searchService"
            [visInputElement]="vis5"
        >
        </app-next-century-angular-search>

        <app-next-century-angular-filter #filter5A
            id="filter5A"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="filterOptions5A"
            [searchElement]="search5"
            [visInputElement]="vis5"
            [visOutputElement]="vis5.elementRef.nativeElement"
        >
        </app-next-century-angular-filter>

        <app-next-century-angular-filter #filter5B
            id="filter5B"
            [dataset]="dataset"
            [filterService]="filterService"
            [options]="filterOptions5B"
            [searchElement]="search5"
            [visInputElement]="vis5"
            [visOutputElement]="vis5.elementRef.nativeElement"
        >
        </app-next-century-angular-filter>
    </div>
</div>

<!-- beautify ignore:end -->
